@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.item-gradient-common {
  background: radial-gradient(circle at center, #d8d5dc 0%, #000000 80%);
}

.item-gradient-rare {
  background: radial-gradient(circle at center, #92e1a8 0%, #000000 80%);
}

.item-gradient-elite {
  background: radial-gradient(circle at center, #a3d1f0 0%, #000000 80%);
}

.item-gradient-unique {
  background: radial-gradient(circle at center, #fffefa 0%, #fdf5b7 80%);
}

.item-gradient-epic {
  background: radial-gradient(circle at center, #ff82e4 0%, #000000 80%);
}

.item-gradient-legendary {
  background: radial-gradient(circle at center, #f9b66e 0%, #000000 80%);
}
